---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "About Me";
---

<BaseLayout pageTitle={pageTitle}>
		<h1 class="text-center text-8xl">Under Construction</h1>
</BaseLayout>
