---
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPostCardList from '../components/BlogPostCardList.astro';
const allPosts = await Astro.glob('../pages/posts/*.md');
const recent = allPosts.reverse();
const pageTitle = "Blog";
---

<BaseLayout pageTitle={pageTitle}>
	<h1 class="text-center text-4xl font-bold text-redwood-dark">Recent Posts:</h1>
	<div class="flex flex-row flex-wrap w-full p-2 justify-center">
		{recent.map((post) => <BlogPostCardList content={post} />)}
	</div>
</BaseLayout>
