---
import { parse } from 'node-html-parser';

const { content } = Astro.props;
const imgSrc = content.frontmatter.image.url ? content.frontmatter.image.url : '/src/img/RetroIcon.png';
const description = content.frontmatter.description || parse(await content.compiledContent()).querySelector('p:first-of-type')?.innerText;
---

<div class="transition grid-cols-2 rounded-xl bg-slate-500 m-1 p-1 w-full text-slate-100 text-center drop-shadow-xl">
    <a href={content.url}>
        <h1 class="font-bold text-xl line-clamp-1 col-span-2">{content.frontmatter.title}</h1>
        <p class="col-span-2 pb-4">Published: {content.frontmatter.pubDate.slice(0,10)}</p>
        <img src={imgSrc} width="300" height="300" class="rounded-2xl m-2 float-left">
        <p class="line-clamp-6">{description}</p>
    </a>
</div>