---
import Navigation from './Navigation.astro';
---

<header>
    <nav class="flex flex-row items-center">
        <div class="flex flex-row basis-1/2 justify-start">
            <a href="/" class="flex flex-row">
                <img src="/RetroIcon.png" width="80" height="80" alt="logo image" class="rounded-full m-2 drop-shadow-xl">
                <h2 class="pl-3 text-6xl text-red-800 font-bold drop-shadow-lg self-center" style="font-family: 'Courier';">Rasmatazz</h2>
            </a>
        </div>
        <div class="items-center basis-1/2">
            <Navigation />
        </div>
    </nav>
</header>