---
import { Image } from 'astro:assets';
import Navigation from './Navigation.astro';
---

<header>
    <nav class="flex flex-row items-center">
        <div class="flex flex-row basis-1/2 justify-start">
            <a href="/" class="flex flex-row">
                <img src='/src/images/RetroIcon.png' alt="logo" class="rounded-full drop-shadow-xl m-2 h-20">
                <img src='/src/images/rasmatazz.png' alt="banner" class="m-2 h-24">
            </a>
        </div>
        <div class="items-center basis-1/2">
            <Navigation />
        </div>
    </nav>
</header>