---
---
<div class="flex flex-row mx-4 my-2 text-2xl text-red-900 font-bold justify-end">
    <a href="/" class="transition px-4 mx-2 rounded hover:scale-125">Home</a>
    <a href="/about/" class="transition px-4 mx-2 rounded hover:scale-125">About</a>
    <a href="/blog/" class="transition px-4 mx-2 rounded hover:scale-125">Blog</a>
    <a href="/tags/" class="transition px-4 mx-2 rounded hover:scale-125">Tags</a>
</div>
