.date {
    font-size: 12px;
    font-style:italic;
}

.footer {
    font-size: 14px;
    font-style:italic;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 32%;
    min-width: 400px;
  }